<!DOCTYPE html>
<html>
<head>
	<title>LynxShare</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <!-- <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/4.1.4/basscss.min.css" rel="stylesheet"> -->


</head>
<body class="thezone">

<div class="ui red vertical demo thin sidebar menu bg-lighter-gray show">
  <div class="logo"><center>
    <i class="fa fa-check-circle-o"></i>
    LynxShare</center></div>
  <%= render partial: "layouts/welcome" %>
  <a href="/links" class="item">
    <div class="side-item">
      <center>
          <i class="home icon"></i>
          Home
      </center>
    </div>
  </a>

  <a href="/relationships" class="item">
    <div class="side-item">
      <center>
          Network
      </center>
    </div>
  </a>

  <a href="/links/new" class="item" >
    <div class="side-item">
      <center>
          Add Link
      </center>
    </div>
  </a>

  <a href="/tags" class="item">
    <div class="side-item">
      <center>
          Tags
      </center>
  </div>

  <a href="/users" class="item">
    <div class="side-item">
      <center>
          People
      </center>
  </div>
  </a>

  <%= render partial: "layouts/logout" %>


</div>
<% if session[:user_id] != nil%>
<script>$('.demo.sidebar').sidebar('toggle')</script>
<% end %>

<%= yield %>

</body>
</html>
