<!DOCTYPE html>
<html>
<head>
  <title>LynxShare</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body style="background-color: #ECF0F1;">

<% if session[:user_id] != nil%>
<div class="ui red vertical demo thin sidebar menu active custom-bar">
<%= image_tag("lynx.png", class: "logo_image" )%>

  <%= render partial: "layouts/welcome" %>

  <a href="/links" class="item" style="color: #E74C3C">
    <div class="side-item">
      <center>
          <i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
      </center>
    </div>
  </a>

  <a href="/relationships" class="item">
    <div class="side-item">
      <center>
          <i class="fa fa-globe"> Network</i>
      </center>
    </div>
  </a>

  <a href="/links/new" class="item" >
    <div class="side-item">
      <center>
          <i class="fa fa-plus"> Add Link</i>
      </center>
    </div>
  </a>

  <a href="/tags" class="item">
    <div class="side-item">
      <center>
          <i class="fa fa-slack"> Tags </i>
      </center>
  </div>

  <a href="/users" class="item">
    <div class="side-item">
      <center>
          <i class="fa fa-user"> People</i>
      </center>
  </div>
  </a>

  <%= render partial: "layouts/logout" %>

</div>

<% end %>

<%= yield %>

</body>
</html>
